<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
  <h1 class="mat-h1">{{ editTitle }}</h1>
  <button mat-icon-button matTooltip="Return to overview" matTooltipShowDelay="1000" (click)="onCancel()" color="primary">
    <mat-icon color="primary">cancel</mat-icon>
  </button>
</div>

<form novalidate [formGroup]="orderForm" (ngSubmit)="onSubmit()" fxLayout="column">

  <mat-form-field class="input-100-field">
    <mat-label>Buy Order Name</mat-label>
    <input
      matInput
      cdkFocusInitial
      placeholder="Buy Order Name"
      formControlName="name"
      required>
    <mat-error *ngIf="orderForm.get('name').hasError('required')">This field is required</mat-error>
  </mat-form-field>

  <mat-form-field class="input-100-field">
    <mat-label>Maximum Bid Price</mat-label>
    <input
      type="number"
      matInput
      placeholder="Max Bid Price"
      formControlName="maxBidPrice"
      required>
    <mat-error *ngIf="orderForm.get('maxBidPrice').hasError('required')">This field is required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Data Package Type</mat-label>
    <mat-select formControlName="dataPackageType">
      <mat-option *ngFor="let typeOption of typeOptions" [value]="typeOption">{{typeOption}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <button mat-button color="accent" type="button" (click)="onCancel()">Cancel
    </button>
    <button mat-raised-button class="save-button" color="primary" type="submit">
      Save
    </button>
  </div>
</form>
