.text-center {
  text-align: center;
}


.font-bold {
  font-weight: 600;
}


.margin-top-10px {
  margin-top: 10px;
}

.margin-top-20px {
  margin-top: 20px;
}

.margin-top-30px {
  margin-top: 30px;
}

.no-data {
  pointer-events: none;
}
