<mat-sidenav-container class="sidenav-container">

  <!-- Aside menu -->
  <mat-sidenav #drawer fixedInViewport="true"
     [(opened)]="opened">
  <div>This is a sidenav</div>
  </mat-sidenav>
  <!-- End Aside menu -->

  <mat-sidenav-content class="sidenav-content">

    <!-- Nav bar -->
    <mat-toolbar fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="bg-white with-border">
      <a fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" routerLink="/home">
        <img [src]="headerImage" class="bb-nav-avatar"
          alt="profile image">
        <div>CORVIDI</div>
      </a>
    </mat-toolbar>
    <!-- End Navbar -->

    <!-- Content Here -->
    <router-outlet></router-outlet>
    <!-- End content Here -->

  </mat-sidenav-content>
</mat-sidenav-container>
