<mat-sidenav-container class="sidenav-container">

  <!-- Aside menu -->
  <mat-sidenav #drawer class="sidenav bg-grey-light" fixedInViewport="true"
     [opened]="true">
  <div>This is a sidenav</div>
  </mat-sidenav>
  <!-- End Aside menu -->

  <mat-sidenav-content class="sidenav-content">

    <!-- Nav bar -->
    <mat-toolbar class="bg-white">
      This is a ribbon at the top
    </mat-toolbar>
    <!-- End Navbar -->

    <!-- Content Here -->
    <router-outlet></router-outlet>
    <!-- End content Here -->

  </mat-sidenav-content>
</mat-sidenav-container>
