@import '../colors/colors';

.bb-detail-container {
  margin: 20px;
  min-height: 100vh;
  max-width: 100vw;
}

.bb-detail-card {
  background: $white;


  .bb-detail-card-header {
    padding: 5px 0 0 0;
  }

}

.bb-detail-form-card {
  height: 100%;
  width: 95%;
  padding: 5px;
  background: $white;
}
