@import '../colors/colors';

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.bb-nav-toolbar-fill {
  flex: 1 1 auto;
}

.bb-sidenav-content {
  background-color: $grey-lighten;
}

.bb-nav-avatar{
  vertical-align: middle;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 1px solid #5869bc;
}

.bb-account-icon{
  padding-left: 2px;
  color: $primary-color;
}
