<section class="bb-overview-container">

<!--   <mat-toolbar>
    <h1 class="mat-h1">Corvidi</h1>
  </mat-toolbar> -->

  <div fxLayout="column" fxLayoutGap="40px">
    <div fxLayout="row" fxLayoutAlign="center">
      <mat-card class="bb-card bb-card-100">
        <div fxLayout="column">
          <h1 class="mat-h1">CORVIDI</h1>
          <p>This is all about corvidi</p>
        </div>
      </mat-card>
    </div>

    <div fxLayoutAlign="space-between" fxLayout.gt-sm="row" fxLayout.lt-md="column">
      <mat-card fxLayout="column" fxLayoutAlign="space-between" class="bb-card" ngClass.gt-sm="bb-card-30" ngClass.lt-md="bb-card-100">
        <div fxLayout="row" fxLayoutAlign="center center">
          <img [src]="bluejayImage" class="bb-nav-avatar" alt="profile image">
          <div class="mat-h1">Blue Jay</div>
        </div>
        <div>This is all about bluejay</div>
        <div></div>
      </mat-card>
      <mat-card fxLayout="column" class="bb-card" ngClass.gt-sm="bb-card-30" ngClass.lt-md="bb-card-100">
        <div class="mat-h3">Jackdaw</div>
        <div>Jackdaw Content here</div>
      </mat-card>
      <mat-card fxLayout="column" class="bb-card" ngClass.gt-sm="bb-card-30" ngClass.lt-md="bb-card-100">
        <div class="mat-h3">Magpie</div>
        <div>Magpie Content here</div>
      </mat-card>
    </div>
  </div>
</section>
