.title-text {
  text-align: center;
  font-family: SitkaText;
  letter-spacing: -4px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.p-text {
  font-family: SitkaText;
  letter-spacing: -3px;
  word-spacing: -6px;
  line-height: 25px;
}
